{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Bienvenue, {{ app.user.prenom }} {{ app.user.nom }} !</h1>
        <p>Ceci est votre page d’accueil après connexion.</p>
        <form action="{{ path('app_logout') }}" method="post">
            <button type="submit" class="btn btn-danger">Se déconnecter</button>
        </form>
    {% else %}
        <h1>Bienvenue !</h1>
        <p>Vous n'êtes pas connecté.</p>
        <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
    {% endif %}
{% endblock %}
