{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
<h1>Notifications</h1>

{% set grouped = {} %}
{% for notif in notifications %}
    {% set type = notif.type|default('autre') %}
    {% if grouped[type] is not defined %}
        {% set _ = grouped|merge({ (type): [] }) %}
    {% endif %}
    {% set grouped = grouped|merge({ (type): (grouped[type]|default([]))|merge([notif]) }) %}
{% endfor %}

{% for type, notifs in grouped %}
    <h3 class="mt-4">Type : {{ type|capitalize }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Message</th>
                <th>Créé le</th>
            </tr>
        </thead>
        <tbody>
            {% for notif in notifs %}
                <tr>
                    <td>{{ notif.label }}</td>
                    <td>{{ notif.createdAt ? notif.createdAt|date('d/m/Y H:i') : 'N/A' }}</td>
                </tr>
            {% else %}
                <tr><td colspan="2">Aucune notification.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}
